body{
    text-align: center;
    font-family: fantasy;
    background-color: white;
    background-image: url("grupopin.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h3{
    font-family: Courier;
    font-size: 50px;
    font-style: normal;
}
h1{
    font-size: 70px;
    text-shadow: 2px 2px 2px cadetblue;
}
p{
    text-align: center;
    font-family: Calibri;
    font-size: large;
    font-style: normal;
}
/*gif*/
#pingif{
    width: 100px;
}
/*fotos de pinguinos*/
#treping, #treping1{
    width: 350px;
}
#encabezado{
    width: 200%;
    height: 200%;
}


